#!/usr/bin/make -f

export DH_VERBOSE = 1
DESTDIR ?= $(abspath debian/binutils-ia16-elf)
export DEB_CFLAGS_APPEND += 
export DEB_LDFLAGS_APPEND += 
export CFLAGS = -g -O2
export LIBS += 

our_host_platform := $(shell $(CC) -dumpmachine || uname -p || arch)

%:
	exec dh $@ --parallel --builddirectory=build

override_dh_update_autotools_config:
	# Nope, do not touch config.sub or config.guess .

override_dh_auto_configure:
	# See redist-ppa.sh .
	exec dh_auto_configure -O--parallel -- \
	    --libdir=/usr/"$(our_host_platform)"/ia16-elf/lib \
	    --infodir=/usr/ia16-elf/info \
	    --target=ia16-elf --enable-ld=default --enable-gold=yes \
	    --enable-targets=ia16-elf --enable-x86-hpa-segelf=yes \
	    --disable-werror \
	    --disable-libctf --disable-gdb --disable-libdecnumber \
	    --disable-readline --disable-sim --disable-nls --with-system-zlib \
	    --disable-static --enable-shared

override_dh_auto_test:
	# Do not run the test suite at this stage.

override_dh_shlibdeps:
	exec dh_shlibdeps -O--parallel -O--builddirectory=build \
	    -l/usr/"$(our_host_platform)"/ia16-elf/lib
